* {
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}
.banner {
  height: 77vh;
  position: relative;
  background-image: linear-gradient(rgba(1, 10, 19, 0.404), #11171d),
    url("../images/banner.jpg");
  background-size: cover;
  color: #fff;
}
/* thông tin banner */
.infobanner {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 400;
}
/* vị trí ảnh tròn  */
#avatar {
  position: absolute;
  margin-top: 480px;
  margin-left: 44%;
}
/* kích thước và border ảnh tròn */
.imgava {
  width: 160px;
  height: 180px;
  border-radius: 50%;
  border: 8px solid #fff;
}
.bg-grey {
  background: #e7e7e7;
}
body {
  color: #343a40;
  margin: 0;
}
section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}
/* banner_+mục tiêu ,thông tin */
#nav-bar {
  text-align: center;
  margin-top: -22px;
  margin-bottom: -15px;
}
.position-banner {
  font-weight: lighter;
  color: aliceblue;
}
nav.container {
  width: 100%;
}
.d-flex {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.name11 {
  width: 35%;
}
.name {
  width: 12%;

  border-style: calc();
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}
.name0 {
  font-weight: 400;
  color: #fff;
  font-size: 38px;
  margin-bottom: 12px;
}
h1 {
  font-weight: 600;
  color: #343a40;
  font-size: 20px;
}
.name1 {
  font-weight: 500;
  color: #343a40;
  font-size: 24px;
  margin-top: -2px;
  margin-bottom: -15px;
}
div.container-1 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  line-height: 1.6;
  font-size: 14px;
}
span {
  font-weight: 700;
  color: #343a40;
}
.icons {
  padding-top: 24px;
}
.section-title {
  margin-bottom: 48px;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
p {
  color: #868e96;
}
.info li {
  color: #868e96;
}
/* KINH NGHIỆM,SKILL,LANGUA,ACTIVITY,HỌC VẤN,FAVORITES */
div.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  padding: 60px;
}
div.ex1,
.ex2,
.ex3,
.ex4,
.ex5,
.ex6 {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 25% 75%;
  border: 1px solid #dee2e6;
  padding: 30px;
}
/* chia vị trí cụ thể các cột */
.ex1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.ex2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.ex3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.ex4 {
  grid-column: 3/4;
  grid-row: 2/3;
}
/* chia vị trí các phần ở cột sở thích */
.icon3 {
  display: grid;
  grid-template-columns: 70px 70px 60px 60px;
  grid-template-rows: 40px 40px;
  row-gap: 20px;
  font-size: 14px;
  color: #868e96;
}
/* tạo viền tròn và chỉnh icon cột sở thích */
.icon3 i {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.5em;
  border-radius: 50%;
  border: 0.5px solid #228be6;
  height: 50px;
  width: 50px;
}
/* vị trí icon cột sở thích */
.ic3 {
  grid-row: 1/2;
  padding-bottom: 0;
}
/* vị trí cột 5- ngôn ngữ */
.ex5 {
  grid-column: 3/4;
  grid-row: 1/2;
  line-height: 2;
}
/* tạo span , level ngôn ngữ */
.level span {
  background: #1a9edbc2;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
/* màu level k đạt */
span.no-level {
  background-color: #d4dae0;
}
/* vị trí cột 6- kĩ năng */
.ex6 {
  grid-column: 2/3;
  grid-row: 1/2;
  line-height: 2;
}
/* vị trí các phần trong cột skill*/
div.title-1 {
  grid-column: 1/2;
}
div.icon2 {
  font-size: 3.5em;
  grid-column: 2/-1;
  grid-row: 1/2;
}
/* màu icon cột skill */
.icon2 i::before {
  color: #ced4da;
}
/* vị trí div thứ 3 của các cột học  vấn, hoạt động ,kinh nghiệm */
div.content {
  grid-column: 1/-1;
  grid-row: 2/3;
}
/* màu và vị trí div 3 */
div.timestamp,
dd {
  color: #868e96;
  margin-left: 0;
}
/* section#nav-bar {
  background-color: rgba(219, 14, 14, 0.253);
  overflow: hidden;
  display: inline-block;
} */
section#nav-bar a {
  color: #495057;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.container-2 ul.timeline {
  display: inline-block;
  line-height: 1.7;
}
.container-2 ul.timeline li {
  position: relative;
  padding: 0 0 50px 30px;
}
.container-2 ul.timeline li::before {
  position: absolute;
  left: -10px;
  top: 7px;
  content: " ";
  border-radius: 50%;
  background: #58a8eeea;
  height: 10px;
  width: 10px;
}
ul.timeline li .timestamp {
  position: relative;
}

i {
  color: #228be6;
}
li {
  list-style-type: none;
}
/* CHỨNG CHỈ,GIẢI THƯỞNG*/
/* tạo 2 cột  */
.certificate {
  display: grid;
  grid-template-columns: 50% 50%;
}
/* chỉnh vị trí ảnh ,nội dung */
.certificate1,
.certificate2,
.certificate3 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* tạo border left của certificate 2 */
.img-sertificate2 {
  padding-left: 20px;
  border-left: 0.2px solid #d6c08d;
}
/* tạo border bottom của certificate 1,2 */
.certificate1,
.certificate2 {
  border-bottom: 2px solid#d6c08d;
}
/* DỰ ÁN */
/* chia 3 cột dự án */
.project {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 20px;
}
/* border 3 phần 3 dự án */
.project1,
.project2,
.project3 {
  border: 1px solid #dee2e6;
}
/* chỉnh vị trí tên dự án */
.name-project {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 20px;
}
/* chỉnh vị trí của li : time-location-role */
.time-location-role {
  padding: 20px;
}
/* chỉnh và border thời gian */
.project-time {
  padding: 10px 25px;
  font-size: 12px;
  color: #f7f7f7;
  background-color: #228be6;
  border-radius: 35px;
}
/* chỉnh time-location-role dự án cùng 1 dòng */
.nav-project li {
  display: inline;
}
/* chỉnh vị trí icon dự án */
.nav-project i {
  padding-right: 10px;
}
/*  TABLE */
table.ex {
  line-height: 1.6;
  border-collapse: collapse;
}
/* border table và chỉnh k gian */
table.ex tr td {
  padding-bottom: 20px;
  border-top: 1px solid #dee2e6;
  padding-right: 10px;
  padding-top: 10px;
}

/* td trái */
.left-col {
  width: 30%;
  vertical-align: top;
  padding-left: 10px;
}
/* border dự án */
.name-project {
  border-bottom: 1px solid #dee2e6;
}
/* border dự án */
.time-location-role {
  border-bottom: 1px solid #dee2e6;
}
/* FOOTER */
.nav li i {
  font-size: 30px;
}
ul.nav {
  padding-left: 30%;
}
/* chỉnh icon và nội dung footer cùng 1 dòng */
.nav li {
  display: inline;
  padding-left: 40px;
}
